{% extends "lbrc/page_modal.html" %}

{% block content %}
<section class="container">
    <header>
        <h2>Change Password</h2>
    </header>

	<form action="{{ url_for_security('change_password') }}" method="POST">
		<fieldset>
			<p>Your new password must contain at least one of each of the following characters</p>
			<ul>
				<li>Lowercase letter</li>
				<li>Uppercase letter</li>
				<li>Punctuation character</li>
			</ul>

			{{ change_password_form.hidden_tag() }}
			{{ change_password_form.password(placeholder="Current Password") }}
			{{ change_password_form.new_password(placeholder="New Password") }}
			{{ change_password_form.new_password_confirm(placeholder="Confirm New Password") }}
	
			<div class="button_bar">
				<button type="submit">Change Password</button>
				<a href="/" role="button">Cancel</a>
			</div>
		</fieldset>
	</form>    		
</section>
{% endblock %}