{% extends "lbrc/page_modal.html" %}
{% from "lbrc/form_macros.html" import render_field %}

{% block content %}
    <div>
		<form action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST">
			<fieldset>
                <img src="{{ url_for('lbrc_flask.static', filename='img/nihr-lbrc-cropped.png', ver=1) }}" alt="Academics Login" style="width: 300px">

				<p>Your new password must contain at least one of each of the following characters</p>
				<ul>
					<li>Lowercase letter</li>
					<li>Uppercase letter</li>
					<li>Punctuation character</li>
				</ul>
	
				{{ reset_password_form.hidden_tag() }}
				{{ reset_password_form.password(placeholder="New Password") }}
				{{ reset_password_form.password_confirm(placeholder="Confirm New Password") }}
		
				<div class="button_bar">
					<button type="submit">Reset Password</button>
				</div>
			</fieldset>
		</form>    		
	</div>
{% endblock %}
