# Testing
export TESTING=True
export FLASK_DEBUG=True
export SQLALCHEMY_ECHO=False
export LOG_LOCATION=./log.log
export LOG_LEVEL="DEBUG"

# Email
export ADMIN_EMAIL_ADDRESS=XXXXXXXXXXXXXXX
export MAIL_DEFAULT_SENDER=XXXXXXXXXXXXXXX

# Security
export SECRET_KEY=XXXXXXXXXXXXXXX
export SECURITY_PASSWORD_SALT=XXXXXXXXXXXXXXX

# Admin User
export ADMIN_USER_USERNAME=XXXXXXXXXXXXXXX
export ADMIN_USER_FIRST_NAME=XXXXXXXXXXXXXXX
export ADMIN_USER_LAST_NAME=XXXXXXXXXXXXXXX


export SQLALCHEMY_DATABASE_URI=XXXXXXXXXXXXXXX

# Web Service
export SMSP_USERNAME=XXXXXXXXXXXXXXX
export SMSP_PASSWORD=XXXXXXXXXXXXXXX
export SMSP_URL=XXXXXXXXXXXXXXX
