{% from "lbrc/form_macros.html" import render_modal_ok_bar %}

{% macro render_errors(errors) %}

    {% if errors | length > 0 %}
        <ul class="errors">
            {% for category, message in errors %}
                {% if message != 'Please log in to access this page.' %}
                    <li class="flash {{category}}">{{message}}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

{% endmacro %}

{% macro render_errors_modal(errors) %}

    {% if errors | length > 0 %}
        <div class="modal" _="on closeModal add .closing then wait for animationend then remove me">
            <div class="modal-underlay" _="on click trigger closeModal"></div>
            <div class="modal-content container">
                {% for category, message in errors %}
                    <div class="flash {{category}}">{{message}}</div>
                {% endfor %}
        
                {{render_modal_ok_bar()}}
            </div>
        </div>
    {% endif %}

{% endmacro %}