{% macro render_form_fields(form) %}
  {{ form.hidden_tag() }}

  {% for f in form %}
      {{ render_field(f) }}
  {% endfor %}
{% endmacro %}


{% macro render_field(field) %}
  {% if field.render_kw %}
    {% if kwargs.update(field.render_kw) %} {% endif %}
  {% endif %}
    {% if field.type == "HiddenField" or field.type == "CSRFTokenField" or field.name == "page" %}
      <!-- Do not render -->
    {% elif field.type == "DataListField" %}
      {{ field(**kwargs)|safe }}
    {% else %}
      <div class="field {% if field.errors %}error{%endif%} {{field.type}}">
        {% if field.type not in ["DescriptionField", "ElementDisplayField", "DataListField", "SearchField"] %}
          {{ render_label(field) }}
        {% endif %}

        {% if field.type == "SelectMultipleField" %}
          {{ field( class="select2", **kwargs)|safe }}
        {% elif field.type == "SearchField" %}
          {{ render_search_field(field) }}
        {% else %}
          {{ field(**kwargs)|safe }}
        {% endif %}
      </div>
    {% endif %}
{% endmacro %}


{% macro render_label(field) %}
  {% set class="" %}

  {% if field.flags.required %}
    {% set class='mandatory' %}
  {% endif %}

  {{ field.label(class=class) }}

  {% if field.description %}
    <a href="#"><span class="fas fa-question-circle"></span></a>
  {% endif %}

  {% if field.errors %}
    <ul class="errors">
    {% for error in field.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}


{% macro render_search_field(field) %}
  <div class="field_with_buttons">
    {{ field(**kwargs) }}
    <a href="?">Clear Search</a>
    <button type="submit">Search</button>
  </div>
{% endmacro %}


{% macro render_field_and_submit(field, submit_label="Save") %}
  <div class="field_with_buttons">
    {{ field(**kwargs) }}
    <button type="submit">{{ submit_label }}</button>
  </div>
{% endmacro %}


{% macro render_button_bar(cancel_url, submit_label="Save") %}
  <div class="button_bar">
    <button type="submit">{{ submit_label }}</button>
    <a href="{{ cancel_url }}" role="button">Cancel</a>
  </div>
{% endmacro %}


{% macro render_modal_button_bar(delete_link=None, submit_label="Save") %}
  {% if submit_label | length == 0 %}
    {% set submit_label='Save' %}
  {% endif %}

  <div class="button_bar">
    <button type="submit">{{ submit_label }}</button>
    {% if delete_link %}
      <a href="javascript:;" hx-post="{{delete_link}}" hx-confirm="Are you sure you wish to delete?" role="button">Delete</a>
    {% endif %}
    <a href="javascript:;" _="on click trigger closeModal" role="button">Cancel</a>
  </div>
{% endmacro %}


{% macro render_modal_cancel_bar() %}
  <div class="button_bar">
    <a href="javascript:;" _="on click trigger closeModal" role="button">Cancel</a>
  </div>
{% endmacro %}


{% macro render_modal_ok_bar() %}
  <div class="button_bar">
    <a href="javascript:;" _="on click trigger closeModal" role="button">OK</a>
  </div>
{% endmacro %}
