{% extends "lbrc/modal.html" %}

{% macro render_user_menu() %}
    <li>
        <a>{{ current_user.full_name }}</a>
        <menu>
            {% if not current_user.ldap_user %}
                <li><a href="{{ url_for_security('change_password') }}">Change Password</a></li>
            {% endif %}
            <li><a href="{{ url_for_security('logout') }}">Log Out</a></li>
        </menu>
    </li>
{% endmacro %}

{% macro render_nav_item(endpoint, name, icon='') %}
    <li class="nav-item">
        {{ render_nav_link(endpoint, name, icon) }}
    </li>
{% endmacro %}


{% macro render_nav_link(endpoint, name, icon='', match_full_path=False) %}
    {% set active_class="" %}

    {% if match_full_path %}
        {% if url_for(endpoint, **kwargs) == request.path %}
            {% set active_class="active" %}
        {% endif %}
    {% else %}
        {% if endpoint == request.endpoint %}
            {% set active_class="active" %}
        {% endif %}
    {% endif %}

    <a class="nav-link {{ active_class }}" href="{{ url_for(endpoint, **kwargs) }}">
        {% if icon | length > 0 %}
            <i class="{{ icon }}"></i>
        {% endif %}
    
        {{ name }}
    </a>
{% endmacro %}

{% macro render_dropdown_item(endpoint, name, icon='') %}
    <a class="dropdown-item" href="{{url_for(endpoint, **kwargs)}}"><i class="{{ icon }}"></i> {{ name }}</a>
{% endmacro %}


