{% macro render_form_fields(form) %}
  {{ form.hidden_tag() }}

  {% for f in form %}
      {{ render_field(f) }}
  {% endfor %}
{% endmacro %}


{% macro render_field(field) %}
    {% if field.type == "HiddenField" or field.type == "CSRFTokenField" or field.name == "page" %}
      <!-- Do not render -->
    {% else %}
      <div class="field {% if field.errors %}error{%endif%} {{field.type}}">
        {% if field.type not in ["DescriptionField", "ElementDisplayField", "DataListField", "SearchField"] %}
          {{ field.label() }}
        {% endif %}

        {% if field.type in ["SelectMultipleField", "TextAreaField"] %}
          {{ field()|safe }}
        {% elif field.type in ["SelectField"] %}
          {{ field(render_kw="multiple")|safe }}
        {% else %}
          <input type="text" />
        {% endif %}
      </div>
    {% endif %}
{% endmacro %}
