{% macro render_form_fields(form) %}
  {{ form.hidden_tag() }}

  {% for f in form %}
      {{ render_field(f) }}
  {% endfor %}
{% endmacro %}


{% macro render_field(field) %}
    {% if field.type == "HiddenField" or field.type in ["CSRFTokenField", "DescriptionField", "DataListField"] or field.name == "page" %}
      <!-- Do not render -->
    {% else %}
      <div class="field {% if field.errors %}error{%endif%} {{field.type}}">
        {% if field.type not in ["DescriptionField", "ElementDisplayField", "DataListField", "SearchField"] %}
          {{ field.label() }}
        {% endif %}

        {% if field.type in ["TextAreaField"] %}
          {{ field()|safe }}
        {% elif field.type in ["SelectMultipleField", "SelectField"] %}
          {{ render_select_field(field) }}
        {% else %}
          <input type="text" />
        {% endif %}
      </div>
    {% endif %}
{% endmacro %}


{% macro render_select_field(field) %}
    <div class="choices">
      {% for c in field.choices %}
        {% if c[1] | length > 0 %}
          <div class="choice">
            <div class="checkbox"></div>
            <div class="label">{{ c[1] }}</div>  
          </div>
        {% endif %}
      {% endfor %}
    </div>
{% endmacro %}
