{% from "lbrc/form_macros.html" import render_modal_cancel_bar %}

{% macro render_errors(errors) %}

    {% if errors | length > 0 %}
        <div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
            <div class="modal-underlay" _="on click trigger closeModal"></div>
            <div class="modal-content container">
                {% for category, message in errors %}
                    <div class="flash {{category}}">{{message}}</div>
                {% endfor %}
        
                {{render_modal_cancel_bar()}}
            </div>
        </div>
    {% endif %}

{% endmacro %}