{% macro render_form_fields(form) %}
  {{ form.hidden_tag() }}

  {% for f in form %}
      {{ render_field(f) }}
  {% endfor %}
{% endmacro %}


{% macro render_field(field) %}
  {% if field.render_kw %}
    {% if kwargs.update(field.render_kw) %} {% endif %}
  {% endif %}
  <div class="field {% if field.errors %}error{%endif%}">
    {% if field.type == "HiddenField" or field.type == "CSRFTokenField" %}
    <!-- Do not render -->
    {% else %}
      {% if field.type not in ["DescriptionField", "ElementDisplayField", "DataListField"] %}
        {{ render_label(field) }}
      {% endif %}

      {% if field.type == "SelectMultipleField" %}
        {{ field( class="form-control select2", **kwargs)|safe }}
      {{ render_field_control(field, **kwargs) }}
      {% else %}
        {{ field(**kwargs)|safe }}
      {% endif %}
    {% endif %}
  </div>
{% endmacro %}


{% macro render_label(field) %}
  {% set class="" %}

  {% if field.flags.required %}
    {% set class='mandatory' %}
  {% endif %}

  {{ field.label(class=class) }}

  {% if field.description %}
    <a href="#"><span class="fas fa-question-circle"></span></a>
  {% endif %}

  {% if field.errors %}
    <ul class="errors">
    {% for error in field.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}


{% macro render_search_field(field) %}
  <div class="search-field">
    {{ field(**kwargs) }}
    <a href="?">Clear Search</a>
    <button type="submit">Search</button>
  </div>
{% endmacro %}


{% macro render_button_bar(cancel_url, submit_label="Save") %}
  <div class="button_bar">
    <button type="submit">{{ submit_label }}</button>
    <a href="{{ cancel_url }}" role="button">Cancel</a>
  </div>
{% endmacro %}


{% macro render_modal_button_bar(submit_label="Save") %}
  <div class="button_bar">
    <button type="submit">{{ submit_label }}</button>
    <a href="#" _="on click trigger closeModal" role="button">Cancel</a>
  </div>
{% endmacro %}
