:root{
    --body-font-family:Lato;
    --body-font-weight:400;
    --body-font-weight-bold:700;
    --body-line-height: 1.625;
    --body-font-style: normal;
    --body-font-size: 1.125rem;
    --body-spacing: 0.5rem;
    --body-paragraph-spacing: 1rem;
    --body-paragraph-double-spacing: calc(var(--body-paragraph-spacing) * 2);

    --footer-font-size: 1rem;
    --bold-font-weight: 700;

    --header-font-size: 2rem;
    --header-height: 120px;

    --submenu-max-width: 30rem;

    --color-black:#111111;
    --color-white:#ffffff;
    --color-white-alt: #f8f9fC;
    --color-blue:#193e72;
    --color-light-blue: #E0EEEF;
    --color-blue-green: #4DA5AE;
    --color-red:#ea5c4e;
    --color-light-red: #FBE3D9;
    --color-orange: #E7973F;
    --color-light-orange: #FFF8E8;
    --color-light-grey: #F0F1F5;
    --color-grey: #ced4da;
    --color-dark-grey: #6c757d;
    --color-green: #46a86c;

    --border-radius: 5px;
    --viewport-width: 80rem;
}

/* Reset Start*/

    * {
        margin: 0;
        padding: 0;
        font: inherit;
        line-height: 1.15;
        -webkit-text-size-adjust: 100%;
        font-size: 100%;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }

    ::selection {
        color: var(--color-white);
        background: var(--color-blue);
    }

    ::placeholder{
        color: var(--color-blue);
    }

    html {
        hanging-punctuation: first last;
    }

    body {
        min-height: 100svh;
        color: var(--color-blue);
        font-weight: var(--body-font-weight);
        font-size: var(--body-font-size);
        font-family: var(--body-font-family);
        font-style: var(--body-font-style);
        line-height: var(--body-line-height);    
    }

    img,
    picture,
    svg,
    video {
        display: block;
        max-width: 100%;
    }

    h2, h3, h4, h5, h6 {
        text-wrap: balance;
        margin-top: var(--body-paragraph-spacing);
    }
    
    p, ul, ol, img {
        margin-bottom: var(--body-paragraph-spacing);
    }

/* Reset End */

/* Layout Start */
body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.container {
    max-width: min(var(--viewport-width), 90%);
    margin: auto;
}

/* Layout End */

/* Header Starter */

body > header a {
    display: block;
    text-align: right;
}

body > header > a > h1 {
    height: var(--header-height);
    line-height: var(--header-height);
    font-size: var(--header-font-size);
    font-weight: bold;
    background-image: url(../img/nihr-lbrc-cropped.png);
    background-size: 270px auto;
    background-repeat: no-repeat;
    background-position: center left;    
}

/* Header End */

/* Main Start */

main > header {
    background-color: var(--color-light-grey);
    padding-block: var(--body-paragraph-spacing);
}

/* Main End */

/* Footer Start */

footer {
    background-color: var(--color-blue);
    color: var(--color-white);
    font-size: var(--footer-font-size);
    font-weight: var(--bold-font-weight);
    padding-block: var(--body-paragraph-double-spacing);
    margin-top: var(--body-paragraph-double-spacing);
}

/* Footer End */

/* Menu Start */

nav.main_menu {
    background-color: var(--color-light-grey);
    margin-bottom: var(--body-paragraph-double-spacing);

    & > menu {
        display: flex;
        gap: 1em;
    }
    
    & > menu > li:has(ul) > a:after {
        display:inline-block;
        padding-left: 0.5rem;
        font-family: 'Font Awesome 5 Free';
        content: "\f078";
        font-size: 0.5em;
    }
    
    & > menu menu {
        display: none;
        position: absolute;
        background-color: var(--color-white);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
        max-width: var(--submenu-max-width);
        opacity: 0;
        transition: opacity 2s;
        border-radius: var(--border-radius);
    }
    
    & > menu > li:hover menu {
        display: block;
        opacity: 1;
    }
    
    & li {
        list-style: none;
    }
    
    & a {
        padding: var(--body-paragraph-spacing);
        display: inline-block;
        font-weight: var(--bold-font-weight);
    }
}


/* Menu End */

/* Form Start */

/* form, fieldset {
    display: grid;
}
 */

fieldset {
    border: none;
    display: grid;
    gap: var(--body-paragraph-spacing);
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    margin-block: var(--body-paragraph-spacing);
}

.field {
    display: grid;
}

label {
    text-transform: capitalize;
    padding: var(--body-spacing);
}

input, textarea, select {
    accent-color: var(--color-red);
    border: 1px solid var(--color-grey);
}

input[type="checkbox"], input[type="radio"] {
    display: block;
    transform: scale(1.5);
    margin: var(--body-paragraph-spacing);
    margin-top: var(--body-spacing);
}

input[type="color"] {
    display: inline;
    margin-bottom: var(--body-paragraph-spacing);
}

input[type="date"],
input[type="datetime-local"],
input[type="file"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input[type="email"],
input[type="search"],
textarea,
select {
    padding: var(--body-spacing);
    border-radius: var(--border-radius);
    background-color: var(--color-white);
    color: var(--color-blue);
}

select option {
    padding: var(--body-spacing);
    color: var(--color-blue);
}

select[multiple]:focus option:checked {
    background: var(--color-red) linear-gradient(0deg, var(--color-red) 0%, var(--color-red) 100%);
}

input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="image"],
button[type="button"],
button[type="reset"],
button[type="submit"] {
    padding: var(--body-spacing);
    background-color: var(--color-green);
    color: var(--color-white);
    border: 1px solid var(--color-green);
    cursor: pointer;
    border-radius: var(--border-radius);
}

.button_bar {
    display: flex;
    flex-direction: row-reverse;
    gap: var(--body-spacing);
}

.checkbox_bar, .radio_bar {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));;
    gap: var(--body-spacing);
}

.search-field {
    display: flex;

    input {
        flex-grow: 1;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    & a {
        display: block;
        padding: var(--body-spacing);
        color: var(--color-green);
        border-block: 1px solid var(--color-grey);
    }

    & button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

/* Form End */

/* Table Start */

table {
    border-collapse: collapse;
    text-align: left;
    min-width: 100%;
    max-width: 100%;
}

tr {
    border-top: 1px solid var(--color-light-grey);
}

tr:nth-child(even){
    background-color: var(--color-white-alt);
}

td, th {
    padding: var(--body-spacing);
}

th {
    font-weight: var(--body-font-weight-bold);
}

/* Table End */

/* Pagination Start */
.pagination {
    display: flex;
    justify-content: center;
    margin-block: var(--body-paragraph-spacing);

    & > * {
        border: 1px solid var(--color-light-grey);
        border-left: none;
    }
    
    & > *:first-child {
        border-left: 1px solid var(--color-light-grey);
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
    }
    
    & > *:last-child {
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }
    
    & a, & span {
        display: block;
        padding: var(--body-spacing);
    }
    
    & :any-link {
        color: var(--color-green);

        &:hover, &:focus {
            background-color: var(--color-light-grey);
        }
    }
    
    & a:not(:any-link) {
        color: var(--color-dark-grey);
    }
    
    & span {
        background-color: var(--color-green);
        color: var(--color-white);
    }
}

.pagination_summary {
    font-size: 0.8em;
    color: var(--color-dark-grey);
    font-style: italic;
    text-align: right;
}

/* Pagination End */
  
a {
    text-decoration: none;
    color: var(--color-blue);
}
