:root {
  --color-blue: #193e72;
  --color-main-header: #23527c;
  --color-background: #f1f1f1;
  --color-green: #46a86c;
  --color-white: #FFFFFF;
  --color-dark-green: #2D8F53;
  --color-red: #ea5d4e;
  --color-light-green: #60C286;
  --color-green-glow: rgba(70, 168, 108, 0.5);
  --color-dark-red: #D14435;
  --color-light-red: #FF7768;
  --color-red-glow: rgba(234, 93, 78, 0.5);
  --color-alternate-row: #f9f9f9;
  --color-subheader: #666;
  --color-spinner-focus: #000;
  --color-spinner: rgba(0, 0, 0, .3);
  --color-outline: #AAA;
  --transition-time: 250ms;
}

html, body {
  background-color: var(--color-background);
  color: var(--color-blue);
  font-family: Lato;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-green);
}

a:hover {
  color: var(--color-dark-green);
  text-decoration: none;
}

.dropdown-menu a {
  display: block;
}

.dropdown-item:active {
  background-color: var(--color-green);
}

.page-link {
  color: var(--color-green);
}

.page-link:hover {
  color: var(--color-green);
}

.page-item.active .page-link {
  background-color: var(--color-green);
  border-color: var(--color-green);
}

.page-item.active .page-link:hover {
  background-color: var(--color-green);
  border-color: var(--color-green);
  color: var(--color-white);
}

#main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#content {
  padding: 0px 0px 40px 0px;
  flex: 1 0 auto;
}

footer {
  background-color: var(--color-blue);;
  color: var(--color-white);
}

footer div {
  padding: 15px 0px;
  font-size: 18px;
}

header.pageheader:before {
  background-color: var(--color-red);
  background-image: none;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100% auto;
  content: "";
  display: block;
  height: 15px;
  width: 100%;
}

header.pageheader {
  background-color: var(--color-white);
  margin: 0;
}

header.pageheader h1 {
    height: 120px;
    line-height: 120px;
    text-align: right;
    vertical-align: middle;
    font-size: 40px;
    font-weight: bold;
    background-image: url(../img/nihr-lbrc-cropped.png);
    background-size: 270px auto;
    background-repeat: no-repeat;
    background-position: center left;
}

.navbar{
  padding: 10px 0;
}

.navbar a {
  color: var(--color-blue);
  transition: color 0.5s;
  transition: background-color 0.5s;
  padding: 10px;
  margin: 0;
  height: 40px;
  line-height: 20px;
}

.navbar-nav a.nav-link:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.navbar a.navbar-brand {
  font-size: 15px;
  background-color: var(--color-blue);
  color: var(--color-white) !important;
}

.navbar .navbar-brand:hover {
  font-size: 15px;
  background-color: var(--color-blue);
  color: var(--color-white);
}

.navbar a.active {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.dropdown-menu.wide {
  min-width:400px;
}

div.subsections {
  columns: 2;
}

section {
  background-color: var(--color-white);
  padding: 20px;
  margin-bottom: 20px;
  break-inside: avoid;
}

/**
    Badges
**/

/* Primary */ 
.badge-primary {
  color: var(--color-white);
  background-color: var(--color-green);
  border-color: var(--color-green);
}

/* Danger */ 
.badge-danger {
  color: var(--color-white);
  background-color: var(--color-red);
  border-color: var(--color-red);
}

/**
    Buttons
**/

/* Primary */

.btn-primary {
  color: var(--color-white);
  background-color: var(--color-green);
  border-color: var(--color-green);
}

.btn-primary:hover {
  color: var(--color-white);
  background-color: var(--color-dark-green);
  border-color: var(--color-dark-green);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: var(--color-white);
  background-color: var(--color-light-green);
  border-color: var(--color-light-green);
}

.btn-primary:disabled, .btn-primary.disabled {
  color: var(--color-white);
  background-color: var(--color-dark-green);
  border-color: var(--color-dark-green);
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem var(--color-green-glow);
}

/* Primary - Outline */

.btn-outline-primary {
  color: var(--color-green);
  background-color: var(--color-white);
  border-color: var(--color-green);
}

.btn-outline-primary:hover {
  color: var(--color-white);
  background-color: var(--color-dark-green);
  border-color: var(--color-dark-green);
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
  color: var(--color-white);
  background-color: var(--color-light-green);
  border-color: var(--color-light-green);
}

.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem var(--color-green-glow);
}

/* Success */
.btn-success {
  color: var(--color-white);
  background-color: var(--color-green);
  border-color: var(--color-green);
}

.btn-success:hover {
  color: var(--color-white);
  background-color: var(--color-dark-green);
  border-color: var(--color-dark-green);
}

.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
  color: var(--color-white);
  background-color: var(--color-light-green);
  border-color: var(--color-light-green);
}

.btn-success:focus {
  box-shadow: 0 0 0 0.2rem var(--color-green-glow);
}

/* Success - Outline */
.btn-outline-success {
  background-color: var(--color-white);
  color: var(--color-green);
  border-color: var(--color-green);
}

.btn-outline-success:hover {
  color: var(--color-white);
  background-color: var(--color-dark-green);
  border-color: var(--color-dark-green);
}

.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
  color: var(--color-white);
  background-color: var(--color-light-green);
  border-color: var(--color-light-green);
}

.btn-outline-success:focus {
  box-shadow: 0 0 0 0.2rem var(--color-green-glow);
}

/* Danger */ 
.btn-danger {
  color: var(--color-white);
  background-color: var(--color-red);
  border-color: var(--color-red);
}

.btn-danger:hover {
  color: var(--color-white);
  background-color: var(--color-dark-red);
  border-color: var(--color-dark-red);
}

.btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show>.btn-danger.dropdown-toggle {
  color: var(--color-white);
  background-color: var(--color-light-red);
  border-color: var(--color-light-red);
}

.btn-danger:focus {
  box-shadow: 0 0 0 0.2rem var(--color-red-glow);
}

/* Danger - Outline */ 
.btn-outline-danger {
  background-color: var(--color-white);
  color: var(--color-red);
  border-color: var(--color-red);
}

.btn-outline-danger:hover {
  color: var(--color-white);
  background-color: var(--color-dark-red);
  border-color: var(--color-dark-red);
}

.btn-outline-danger:not(:disabled):not(.disabled).active, .btn-outline-danger:not(:disabled):not(.disabled):active, .show>.btn-outline-danger.dropdown-toggle {
  color: var(--color-white);
  background-color: var(--color-light-red);
  border-color: var(--color-light-red);
}

.btn-outline-danger:focus {
  box-shadow: 0 0 0 0.2rem var(--color-red-glow);
}

/**
  List Groups
**/

textarea {
  resize: vertical;
}

dd {
  margin-bottom: 10px;
}

.card-button-list {
  margin-bottom: 10px;
}

.list-group {
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-group-item {
  padding: 10px;
}

:where(.list-group-item:nth-child(even)) {
  background-color: var(--color-alternate-row);
}

.list-group-item a.download {
  margin-right: 20px;
  font-size: 16px;
}

.list-group {
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-group-item {
  padding: 10px;
}

.list-group-item header {
  padding-bottom: 20px;
}

.list-group-item h1, .list_item_header h1 {
  font-size: 20px;
  color: var(--color-main-header);
  font-weight: bold;
  margin: 0;
}

.list-group-item h2, .list_item_header h2 {
  font-size: 14px;
  color: var(--color-subheader);
  margin: 0;
}

.list-group-item .badge, .list_item_header .badge {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 80%;
}

.summary_details h1, .modal-body h1 {
  font-size: 20px;
  color: var(--color-main-header);
  font-weight: bold;
  margin: 0;
}

.summary_details h2, .modal-body h2 {
  font-size: 14px;
  color: var(--color-subheader);
  margin: 0;
}

.summary_details h3, .modal-body h3 {
  font-size: 16px;
  color: var(--color-main-header);
  font-weight: bold;
}

.summary_details h4, .modal-body h4 {
  font-size: 14px;
  color: var(--color-subheader);
  font-weight: 100;
}

.summary_details h5, .modal-body h5 {
  font-size: 12px;
  color: var(--color-subheader);
  font-weight: 100;
  font-style: italic;
}

.form {
  margin: auto;
  padding: 1em;
  width: 600px;
  padding: 2em;
  border: 1px solid var(--color-outline);
  background-color: var(--color-white);
  border-radius: 0.5em;
}

.form form label {
  display: none;
}

.form form input {
  display: block;
  width: 100%;
  margin-bottom: 1em;
}

.form {
margin-top: 2em;
}


.errors {
  margin-top: 10px;
  z-index: 99;
}

a.fas, a.fas:link, a.fas:hover {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

.search-form, .page-header {
  background-color: var(--color-alternate-row);
  border: #eee 1px solid;
  padding: 10px;
  padding-bottom: 0;
}

.search-filters {
  padding-top: 10px;
  padding-bottom: 0;
}

.search-filters select {
  max-width: 400px;
}

/** SPINNER CREATION **/

.loader {
  position: relative;
  text-align: center;
  margin: 15px auto 35px auto;
  z-index: 9999;
  display: block;
  width: 80px;
  height: 80px;
  border: 10px solid var(--color-spinner);
  border-radius: 50%;
  border-top-color: var(--color-spinner-focus);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

.inline_loader {
  position: relative;
  text-align: center;
  z-index: 9999;
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid var(--color-spinner);
  border-radius: 50%;
  border-top-color: var(--color-spinner-focus);
  animation: spin 0.5s infinite;
  -webkit-animation: spin 0.5s infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}


/* Specific Styling */
ul.radio li {
  list-style-type: none;
}

ul.form-control li {
  list-style: none;
}

.brc_only {
  font-size: 1.2em;
  margin: 2em 9em;
}

header a, header a:hover, header a:active, header a:visited {
  color: var(--color-blue);
}

.loading {
  background-image: url('data:image/svg+xml;utf8,<svg width="36" height="36" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><style>.spinner_S1WN{animation:spinner_MGfb .8s linear infinite;animation-delay:-.8s}.spinner_Km9P{animation-delay:-.65s}.spinner_JApP{animation-delay:-.5s}@keyframes spinner_MGfb{93.75%,100%{opacity:.2}}</style><circle class="spinner_S1WN" cx="4" cy="12" r="3"/><circle class="spinner_S1WN spinner_Km9P" cx="12" cy="12" r="3"/><circle class="spinner_S1WN spinner_JApP" cx="20" cy="12" r="3"/></svg>');
  background-repeat: no-repeat;
  background-position: center center;
}

div.loading {
  height: 100px;
  width: 100%;
}

.accordion [data-toggle="collapse"] {
  cursor: pointer;
  padding-left: 1em;
}

.accordion [data-toggle="collapse"] h1 {
  text-indent: -1em;
}

.accordion [data-toggle="collapse"] h1::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f0d8";
}

.accordion [data-toggle="collapse"].collapsed h1::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f0d7";
}

dl.cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}