{% extends "lbrc_flask/skeleton.html" %}

{% block title %}{{ organisation_name }} {{ application_title }}{% endblock %}

{% block base_css %}
  <link href="{{ url_for('lbrc_flask.static', filename='css/main.css', ver=16) }}" rel="stylesheet">
  {% block css %}{% endblock %}
{% endblock %}

{% block icons %}
  <link rel="icon" href="{{ url_for('lbrc_flask.static', filename='img/cropped-favicon-32x32.png', ver=1) }}" sizes="32x32" />
  <link rel="icon" href="{{ url_for('lbrc_flask.static', filename='img/cropped-favicon-192x192.png', ver=1) }}" sizes="192x192" />
  <link rel="apple-touch-icon-precomposed" href="{{ url_for('lbrc_flask.static', filename='img/cropped-favicon-180x180.png', ver=1) }}" />
  <meta name="msapplication-TileImage" content="{{ url_for('lbrc_flask.static', filename='img/cropped-favicon-270x270.png', ver=1) }}" />
{% endblock %}
