{% extends "lbrc_flask/base.html" %}
{% import "lbrc_flask/errors.html" as errors %}

{% block base_content %}

<div class="row justify-content-center">
  <div class="errors">
    {{ errors.render_errors(get_flashed_messages(with_categories=true)) }}
    {% block errors %}{% endblock %}
  </div>
</div>

<div class="row justify-content-center">
  <div class="login-form">  
    <div class="card">
      <div class="card-header">
          <div>{{ organisation_name }} {{ application_title }}: {% block formname %}{% endblock %}</div>
      </div>

      <div class="card-body">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>

</div>  

{% endblock %}
