{% extends "lbrc_flask/base.html" %}
{% import "lbrc_flask/errors.html" as errors %}

{% block base_content %}
<div id="main-wrapper">

  <header class="pageheader">
    <div class="container">
      <h1>{{ application_title }}</h1>
    </div>
  </header>

  <div class="container">
    <nav class="navbar navbar-expand-lg">
      {% if current_user.is_active %}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="navbar-brand fas fa-home" href="/"></a>
          </li>  
          {% block navlinks %}{% endblock %}
        </ul>

        
        <ul class="navbar-nav ml-auto">
          {% if current_user.is_admin %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/admin/">Maintenance</a>
                </div>
            </li>
          {% endif %}
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ current_user.full_name }}</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a href="{{ url_for_security('change_password') }}">Change Password</a>
              <a class="dropdown-item" href="{{ url_for_security('logout') }}">Log Out</a>
            </div>
          </li>
        </ul>
    
      {% endif %}
    </nav>
  </div>

  <div class="container">
    <div class="errors">
      {{ errors.render_errors(get_flashed_messages(with_categories=true)) }}
      {% block errors %}{% endblock %}
    </div>
  </div>
        
  <div id="content" class="container">
    {% block content %}{% endblock %}
  </div>

  <footer>
    <div class="container">
        Copyright &copy; {{ current_year }} NIHR Leicester Biomedical Research Centre
    </div>
  </footer>

</div>
{% endblock %}

