<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- meta -->
    <meta name="description" content="">
    <meta name="author" content="Richard Bramley">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Forms -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

    <!-- Fonts -->
    <link rel='stylesheet' id='megamenu-google-fonts-css' href='//fonts.googleapis.com/css?family=Lato%3A400%2C700&#038;ver=5.2.4' type='text/css' media='all' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" crossorigin="anonymous">
    
    <!-- styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    {% block base_css %}{% endblock %}

    {% block icons %}{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.6.2/fetch.js" integrity="sha512-20FZL4lG1jTZXPeMkblgj4b/fsXASK5aW87Tm7Z5QK9QmmYleVGM0NlS9swfb6XT8yrFTAWkq3QfnMe7MKIX8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    {% block base_content %}{% endblock %}

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown.js/0.5.0/markdown.min.js" integrity="sha512-kaDP6dcDG3+X87m9SnhyJzwBMKrYnd2tLJjGdBrZ9yEL8Zcl2iJRsPwylLkbd2g3QC5S8efV3sgwI5r73U0HnA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Common Functions -->
    <script src="{{ url_for('lbrc_flask.static', filename='js/lbrc_flask.js', ver=1) }}"></script>

    <!-- Forms -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <!-- Lock Screen Dialog Simple-->
    <div class="modal fade" id="uploadProgressModalSimple" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="uploadProgressModalSimple" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="uploadProgressModalLabel">Please wait...</h5>
              </div>
              <div class="modal-body">
                  <div class="loader"></div>
              </div>
          </div>
      </div>
    </div>

    <!-- Error Dialog -->
    <div class="modal fade" id="errorModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="errorModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content text-danger">
              <div class="modal-header">
                  <h5 class="modal-title" id="uploadProgressModalLabel">An Error has Occurred</h5>
              </div>
              <div class="modal-body">
                <p id="error_text"></p>
                <p class="float-right text-muted"><span id="error_status"></span>: <span class="text-lowercase" id="error_status_text"></span></p>
              </div>
          </div>
      </div>
    </div>

    <!-- Help dialog-->
    <div class="modal fade" id="help_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <h5 id="help_modal__title" class="modal-title"></h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
              <p id="help_modal__text"></p>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function() {
          // Fancy select
          $("select.select2").select2();

          // Lock screen
          $('.lock_screen').click(function(){
            $('#uploadProgressModalSimple').modal('show');
          });
          $('form').not('.no_lock').submit(function(){
            $('#uploadProgressModalSimple').modal('show');
          });

          // Help dialog
          $('#help_modal').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget);
              
              document.getElementById('help_modal__title').innerHTML = button.data('title');
              document.getElementById('help_modal__text').innerHTML = markdown.toHTML( button.data('text') );
          });

          $(function () {
            $('[data-toggle="tooltip"]').tooltip()
          })
      });
    </script>

    {% block js %}{% endblock %}

  </body>
</html>